body {
	background-image: url(../Images/background.png);
	margin: 0px;
}

h1, h2 {
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
}

p{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
	font-size: 19px;
	line-height: 2em;
}

a {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
	font-size: 17px;
	line-height: 2em;
}

/*Begin Header with Navigation*/
.header {
	background-color: white;
	width: 100%;
	height: 90px;
	margin: 0px;
	border-bottom: solid 4px #cccccc;
	position: absolute;
}

#name {
	float: left;
	color: white;
	background-color: #4aaaa5;
	margin: 0;
	height: 40px;
	padding: 25px 37px;
	position: absolute;
	bottom: 0px;
	left: 155px;
	font-weight: bold;
}

.navhead {
	position: relative;
	top: 30px;
	left: 865px;
}

#about {
	padding: 0px 16px 0px 0px;
	border-right: 1px solid #cccccc;
}

#portfolio {
	padding: 0px 16px;
	border-right: 1px solid #cccccc;
}

#contact {
	padding: 0px 0px 0px 16px;
}

.wrapper {
	width: 960px;
	overflow: auto;
	margin: 0px 155px;
}

/*Begin Main Content*/
.maincontent {
	width: 650px;
	margin: 134px 0px 40px 0px;
	background-color: white;
	border: 2px solid #dddddd;
	float: left;
	overflow:auto;
}

.maincontent h2 {
	line-height: 3em;
	margin: 15px 32px 10px 32px;
	border-bottom: solid 4px #cccccc;
	font-weight: bold;
}

/*Begin About Me*/
#bioimg {
	height: 205px;
	width: auto;
	float: left;
	margin: 15px 25px 0px 32px;
}

.maincontent p {
	margin: 15px 32px 15px 32px;
}

/*Begin Portfolio*/
.portcolumn1 {
	float: left;
	width: 325px;
	margin: 30px 0px;
}

.portcolumn2 {
	float: right;
	width: 325px;
	margin: 30px 0px;
}

.portleft {
	margin: 44px 22px 15px 30px;
	
}

.portright {
	margin: 44px 30px 15px 22px;
	
}

.portlink {
	position: relative;
}

.portcolumn1 h3 {
	position: absolute;
    bottom: 25px;
    text-align: center;
    width: 270px;
    margin-left: 30px;
    background: #4aaaa5;
    padding: 12px 0px;
    font-size: 120%;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.portcolumn2 h3 {
	position: absolute;
    bottom: 25px;
    text-align: center;
    width: 270px;
    margin-left: 22px;
    background: #4aaaa5;
    padding: 12px 0px;
    font-size: 120%;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
}

/*Begin Contact Form*/
form {
	margin: 30px 32px 30px 32px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

textarea, input[type=text] {
	width: 570px;
	padding: 8px;
	margin: 10px 0px 15px 0px;
	color: #777777;
}

.fmessage {
	height: 200px;
}

input[type=submit] {
	background-color: #4aaaa5;
	color: white;
	font-size: 16px;
	padding: 12px 30px;
	border-style: none;
}

/*Begin Connect Sidebar*/
.connect {
	margin-top: 134px;
	margin-bottom: 40px;
	background-color: white;
	border: 2px solid #dddddd;
	float: right;
	overflow: auto;
	padding: 25px 31.2335px;
}

.connect h2 {
	font-size: 23px;
	margin-top: 0px;
	font-weight: bold;
	padding-bottom: 15px;
}

.navconnect {
	padding-top: 25px;
	border-top: 1px solid #cccccc;
}

.icon {
	height: 60px;
	width: 60px;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

/*Begin Sticky Footer*/
footer {
	clear: both;
	width: 100%;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
	overflow: auto;
}

footer p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: silver;
	padding-top: 40px;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.sticky-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -118px; 
}

.sticky-wrapper:after {
  content: "";
  display: block;
}

footer, .sticky-wrapper:after {
  /* .push must be the same height as footer */
  height: 118px; 
}
